*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("bg.jpg");
    height: 80vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
}

.main .box{
    height:80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top:0;
}

nav{
    height: 62px;
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav img{
    color:red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}